@import '../../../../variables.scss';

.wrap {
  @extend .page-content;
  @extend .pad-when-full;

  .container {
    display: grid;
    grid-template-columns: min-content auto;
    gap: 1rem;

    .left-side-bar {
      width: 4rem;

      .left-side-bar-content {
        display: grid;
        grid-auto-flow: row;
        justify-content: center;
        justify-items: center;
        align-content: flex-start;
        position: fixed;

        .up-vote-button {
          border: 3px solid $dark2;
          box-sizing: content-box;
          background: none;
          transition: .8s;
          margin-top: .5rem;

          .remove-upvote-icon {
            display: none;
          }

          &:hover,
          &.voted {
            border-color: transparentize($accent, .98);
            color: $light-text;
            background: transparentize($accent, .6);
            transform: scale(1.01) translateY(-3px);
          }

          &:hover {
            background: transparentize($accent, .4)
          }

          &.voted.remove-vote {
            &:hover {
              background: transparentize($warn, .6);

              .remove-upvote-icon {
                display: inline-block;
              }

              .upvote-icon {
                display: none;
              }
            }
          }

          ion-icon {
            font-size: 1.3rem;
          }
        }

        .menu-button {
          margin-top: .5rem;

          &:hover {
            color: $light-text;
            background-color: $dark2;
          }
        }

        .points-count {
          text-align: center;
          margin-top: .8rem;
          justify-self: center;
          font-size: 1.3rem;
        }
      }
    }

    .post {
      display: grid;

      .post-title {
        @extend .page-title;
      }

      .post-metadata {
        color: $dark4;

        a {
          color: $dark4;
          cursor: pointer;
          border-radius: 3px;

          &:hover,
          &:focus {
            background-color: $dark2;
            color: $light;
          }
        }
      }

      .post-content {
        margin-top: 2rem;
        font-size: 1.2rem;
        line-height: 120%;
        display: grid;
        grid-template-columns: 4fr 2fr;

        @media (max-width: $content-width) {
          & {
            grid-template-columns: 1fr;
          }
        }
      }
    }
  }

  .container.loader {

    .post-date {
      width: 6rem;
    }

    .points-count {
      width: 2rem;
    }

    .post-content {
      height: 10rem;
    }
  }
}
