@import '../../../../variables.scss';

.wrap {
  @extend .page-content;

  .container {
    display: grid;
    grid-template-columns: min-content auto;
    gap: 1rem;

    .left-side-bar {
      display: grid;
      grid-auto-flow: row;
      justify-content: center;
      justify-items: center;
      align-content: flex-start;

      .up-vote-button {
        border: 3px solid $dark2;
        box-sizing: content-box;
        background: none;
        transition: .8s;
        margin-top: .5rem;

        &:hover,
        &.voted {
          border-color: transparentize($accent, .8);
          color: $light-text;
          background: $accent;
          transform: scale(1.01) translateY(-3px);
        }

        .mat-buttonwrapper {
          ion-icon {
            font-size: 6rem;
          }
        }
      }

      .down-vote-button {
        margin-top: .5rem;
        color: $dark3;

        &:hover {
          color: $light-text;
          background-color: $dark2;
        }
      }

      .points-count {
        text-align: center;
        font-weight: bold;
        margin-top: .8rem;
        justify-self: center;
      }
    }

    .post {
      display: grid;

      .post-title {
        @extend .page-title;
      }

      .post-content {
        margin-top: 2rem;
        font-size: 1.2rem;
        line-height: 120%;
        display: grid;
        grid-template-columns: 4fr 2fr;

        @media (max-width: $content-width) {
          & {
            grid-template-columns: 1fr;
          }
        }
      }
    }
  }

  .container.loader {

    .post-date {
      width: 6rem;
    }

    .points-count {
      width: 2rem;
    }

    .post-content {
      height: 10rem;
    }
  }
}
