@import '../../../../variables.scss';

.wrap {
  display: grid;
  @extend .page-content;
  @extend .pad-when-full;

  .content {
    margin-bottom: 4rem;
    display: grid;

    form {
      display: grid;
    }
  }
}

.title-input-wrap {
  width: 100%;
  margin-bottom: 1rem;

  .title-input {
    font-size: 2.5rem;
    font-weight: bold;
    color: $light-text;
    width: 100%;
    background: none;
    border: none;
    mask-border: 1rem;
    padding: 1rem .5rem;
    margin-bottom: .5rem;
    transition: .3s;
    box-sizing: border-box;

    &::placeholder {
      color: $light;
    }

    &.invalid {
      background-color: transparentize($warn, .8);
    }

    &:focus {
      background: $dark2;
    }

    &.invalid,
    &:focus {
      padding: 1rem 2rem;
    }
  }

  &.post-content {
    font-size: 1.2rem;
    min-height: 5rem;
  }

  .mat-error {
    font-size: .8rem;
    font-weight: normal;

    div {
      margin: 0 1rem;
    }
  }
}

.content-wrap {
  display: grid;
  grid-template-columns: 5fr 2fr;

  .form-footer {
    display: grid;
    justify-content: end;
    margin-top: 1rem;

    .submit-button {
      font-size: 1rem;
      padding: .5rem 1.5rem;
      border-color: $primary;
      justify-self: end;
    }
  }
}

@media (max-width: $content-width) {
  .content-wrap {
    grid-template-columns: 1fr;
  }
}

.form-inputs {
  // background: $dark2;
  padding: 10px 0 2rem;
  border-radius: 5px;
}


.markdown-editor {
  background: $dark2;
  padding: 1rem 2rem;

}

.invalid {

  .mat-error {
    margin: 1rem;
    display: block;
  }
}

.channel-wrap {
  margin: .5rem;

  h3 {
    font-size: 1.2rem;
    font-weight: bold;
  }
}
