<div class="wrap">
  <div class="content">
    <div>
      <div *ngIf="$channel | async as channel" class="channel-wrap">
        <h3>
          {{channel.name}}
        </h3>
      </div>

      <div class="form-inputs">
        <div class="title-input-wrap">
          <input
            autofocus
            [ngClass]="{'invalid': form.errors.title.length > 0}"
            [(ngModel)]="form.title"
            (ngModelChange)="validateTitle()"
            placeholder="Enter Title"
            class="title-input">

          <mat-error *ngIf="form.errors.title.length > 0">
            <div *ngFor="let error of form.errors.title">{{error}}</div>
          </mat-error>
        </div>

        <div class="content-wrap">
          <div class="editor">
            <div [ngClass]="{'invalid': form.errors.content.length > 0}">
              <textarea
                id="add-post-editor"></textarea>

              <mat-error *ngIf="form.errors.content.length > 0">
                <div *ngFor="let error of form.errors.content">{{error}}</div>
              </mat-error>
            </div>

            <div class="form-footer">
              <button
                (click)="submitHandler()"
                [disabled]="!form.valid || !form.active"
                type="submit"
                class="submit-button"
                mat-raised-button color="primary">
                Post
                <ion-icon name="checkmark-circle-outline"></ion-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
