@import '../../../../variables.scss';

.wrap {
  display: grid;
  margin-top: 3rem;
  grid-template-columns: 5fr 2fr;

  .content {
    margin-bottom: 4rem;
    display: grid;

    form {
      display: grid;
    }
  }
}

mat-form-field {
  width: 100%;

  &.title-input {
    font-size: 1.8rem;
    font-weight: bold;
    color: $light;
  }

  &.post-content {
    font-size: 1.2rem;
    min-height: 5rem;
  }

  mat-error {
    font-size: .8rem;
    margin: 0 1.5rem;
    font-weight: normal;
  }
}

.form-inputs {
  // background: $dark2;
  padding: 10px 0 2rem;
  border-radius: 5px;
}

.submit-button {
  font-size: 1rem;
  padding: .5rem 1.5rem;
  border-color: $primary;
  justify-self: end;
}

.markdown-editor {
  background: $dark2;
  padding: 1rem 2rem;
}