@import '../../../../variables.scss';

.wrap {
  display: grid;
  justify-content: center;
  justify-items: center;

  h1 {
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 1.2rem;
    color: $dark4;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  .desc {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .mat-error {
    margin-bottom: 1rem;
  }
}
