@import '../../../../variables.scss';

.item-wrap {
  display: grid;
  grid-template-columns: min-content auto;
  gap: .5rem;
  transition: .5s;

  &:hover {
    background: $dark2;
  }

  .item-vote-wrap {
    display: grid;
    justify-content: center;
    align-content: flex-start;

    .item-vote-count {
      text-align: center;
      font-size: .7rem;
      font-weight: bold;
    }
  }

  .item-content-wrap {
    display: grid;
    align-content: center;
    border-radius: 0;
    text-align: left;
    background: none;
    cursor: pointer;
    padding: .8rem 0 .5rem;

    .item-title {
      color: #fff;
      margin-bottom: .5rem;
      font-size: 1rem;
    }

    .item-content {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 2rem;
    }
  }
}