<mat-action-list role="list">
  <div
    mat-list-item
    *ngFor="let post of posts$ | async">

    <div class="item-wrap" mat-ripple>
      <div class="item-vote-wrap">
        <button
          mat-icon-button
          [ngClass]="{'voted': crud.hasVoted(auth.$uid | async, post.votes)}"
          (click)="crud.vote(post.id)"
        >
        <ion-icon class="upvote-icon"
          name="chevron-up-outline"></ion-icon>
        <ion-icon class="remove-vote-icon"
          name="remove"></ion-icon>
        </button>
        <div class="item-vote-count">
          {{post.points}}
        </div>
      </div>

      <div
        class="item-content-wrap"
        [routerLink]="['', paths.posts.view, post.title | dashedString, post.id]">

        <div class="item-title">
          {{post.title}}
        </div>

        <div class="item-metadata">
          <a *ngIf="post.channel as channel">
            #{{channel.name}}
          </a>
          <b>·</b>
          <a *ngIf="post.user as user">
            @{{user.username || user.displayName}}
          </a>
          <b>·</b>
          <span>
            {{post.createdAt | momentAgo}}
          </span>
        </div>
      </div>

      <div class="item-menu-wrap">
        <button
          *ngIf="auth.$uid | async"
          [matMenuTriggerFor]="downVoteMenu"
          mat-icon-button>
          <ion-icon name="menu-outline"></ion-icon>
        </button>

        <mat-menu
          xPosition="before"
          overlapTrigger="true"
          #downVoteMenu="matMenu">

          <post-menu position="before" [post]="post"></post-menu>
        </mat-menu>
      </div>
    </div>
  </div>

  <div *ngIf="(posts$ | async).length === 0" class="no-posts">
    [No Posts]
  </div>
</mat-action-list>
