@import '../../../../variables.scss';

.item-wrap {
  display: grid;
  grid-template-columns: 3rem auto min-content;
  transition: .5s;
  padding-bottom: .5rem;

  .item-vote-wrap {
    display: grid;
    justify-content: center;
    align-content: flex-start;
    padding: .3rem;

    button {
      transition: .5s;

      .remove-vote-icon {
        display: none;
      }

      &.downvoted {
        background: transparentize($warn, .9);
        color: $warn;
      }

      &.upvoted {
        background: transparentize($accent, .9);
        color: $accent;

        &:hover {
          background: transparentize($warn, .6);

          .remove-vote-icon {
            display: inline-block;
          }

          .upvote-icon {
            display: none;
          }
        }
      }
    }

    .item-vote-count {
      text-align: center;
      font-size: .7rem;
      font-weight: bold;
    }
  }

  .item-menu-wrap {
    visibility: hidden;
    opacity: 0;
    transition: .8s;
    transition-timing-function: ease-in-out;
    padding: .3rem;
  }

  &:hover,
  &:focus {
    background: $dark2;

    .item-menu-wrap {
      visibility: visible;
      opacity: 1;
    }
  }

  .item-content-wrap {
    display: grid;
    align-content: center;
    border-radius: 0;
    text-align: left;
    background: none;
    cursor: pointer;
    margin-top: .5rem;

    .item-title {
      color: #fff;
      margin-bottom: .8rem;
      font-size: 1rem;
    }

    .item-metadata {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $light;

      a {
        color: $light;
        border-radius: 3px;

        &:hover,
        &:focus {
          background-color: $dark3;
          color: $light2;
        }
      }
    }
  }
}
