@import '../../../../variables.scss';

.wrap {
  .hero {
    @extend .app-hero;
  }

  .content {
    @extend .left-content;
    @extend .page-content;

    .main-content {
      @extend .outline-wrap;

      .main-content-top {
        display: grid;

        button {
          padding: 1rem;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
  }
}

.add-button {
  vertical-align: middle;

  ion-icon {
    font-size: 1.4rem;
    vertical-align: middle;
  }
}
