<div class="wrap" *ngIf="$channel | async as channel">
  <div class="hero">
    <div class="hero-inner">
      <div class="hero-content">
        <h1 class="channel-title">{{channel.name}}</h1>
        <p>
          {{channel.description}}
        </p>
      </div>

      <div class="hero-bottom">
        <div class="hero-bottom-left">
          <button mat-raised-button color="primary">Join</button>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="main-content">
      <div class="main-content-top">
        <button
          [routerLink]="['', 'channels', channel.id, 'add-post']"
          mat-flat-button
          class="add-button">
          <ion-icon name="add-circle-outline"></ion-icon>
          Add Post
        </button>
      </div>
      <list-posts [channel-id]="channel.id"></list-posts>
    </div>
    <div class="side-bar"></div>
  </div>
</div>
