<div class="wrap" *ngIf="channel$ | async as channel">
  <div class="hero">
    <div class="hero-inner">
      <div class="hero-content">
        <h1 class="channel-title">{{channel.name}}</h1>
        <p>
          {{channel.description}}
        </p>
      </div>

      <div class="hero-bottom">
        <button mat-raised-button color="primary">Join</button>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="main-content">a</div>
    <div class="side-bar">b</div>
  </div>
</div>
