<div class="wrap" *ngIf="$channel | async as channel">
  <div class="hero">
    <div class="hero-inner">
      <div class="hero-content">
        <h1 class="channel-title">{{channel.name}}</h1>
        <p>
          {{channel.description}}
        </p>
      </div>

      <div class="hero-bottom">
        <button mat-raised-button color="primary">Join</button>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="main-content">
      <button
        [routerLink]="['', 'channels', channel.id, 'add-post']"
        mat-flat-button
        class="add-button"
        color="accent">
        <ion-icon name="add"></ion-icon>
        Add Post
      </button>
      <list-posts [channel-id]="channel.id"></list-posts>
    </div>
    <div class="side-bar">b</div>
  </div>
</div>
