@import '../variables.scss';

.container {
  display: grid;
  height: 100vh;
  grid-template-rows: max-content auto;
  background-color: $dark;

  app-navbar {
    width: 100vw;
    position: fixed;
  }

  .content {
    display: grid;
    justify-content: center;
    align-content: flex-start;
    justify-content: stretch;
    overflow-y: auto;
    height: calc(100vh - 56px);
    margin-top: 56px;
  }
}
