<div class="wrap">
  <div class="hero">
    <div class="hero-inner">
      <div class="hero-content">
        <h1>Channels</h1>
      </div>
      <div class="hero-bottom">
        <div class="hero-bottom-left">
        </div>
        <div class="hero-bottom-right">
          <button
            mat-raised-button
            color="primary"
            (click)="createChannelDialog.open()">
            <ion-icon name="add-circle-outline"></ion-icon>
            Suggest New Channel
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div *ngIf="channels$ | async as channels">
      <mat-card
        mat-ripple
        [routerLink]="['/', paths.channels.view, channel.id]"
        *ngFor="let channel of channels"
        class="channel-card">

        <div mat-card-avatar class="channel-icon"></div>

        <div class="card-content">
          <mat-card-title>
            {{channel.name}}
          </mat-card-title>
          <mat-card-subtitle>
            {{channel.description}}
          </mat-card-subtitle>
          <div *ngIf="auth.$user | async as user">
            <button
              *ngIf="!channelCrud.isFollowing(user.uid, channel); else leaveButton"
              (click)="channelCrud.follow(user.uid, channel.id)"
              mat-raised-button
              color="primary">
              <ion-icon name="checkmark-circle-outline"></ion-icon>
              Join
            </button>

            <ng-template #leaveButton>
              <button
                mat-raised-button
                (click)="channelCrud.unfollow(user.uid, channel.id)"
                color="warn">
                <ion-icon name="close-circle-outline"></ion-icon>
                Leave
              </button>
            </ng-template>
          </div>

        </div>
      </mat-card>
    </div>
  </div>
</div>
