@import '../../../../variables.scss';

.wrap {

  .hero {
    @extend .app-hero;

    .hero-inner {
      .hero-bottom {
        grid-template-columns: 5fr 2fr;
        gap: 1rem;
      }
    }
  }

  .content {
    @extend .left-content;
    @extend .page-content;

    .channel-card {
      display: grid;
      margin-bottom: 2rem;
      grid-template-columns: min-content auto;
      gap: 1rem;
      align-items: center;

      .channel-icon {
        background: $dark3;
        height: 4rem;
        width: 4rem;
      }

      .card-content {
        display: grid;
        align-items: center;

        mat-card-title {
          font-weight: normal;
          margin-bottom: 1rem;
        }
      }
    }
  }
}
