$base: saturate(#293245, 10%);

$dark: adjust-color(
  darken(saturate($base, 5%), 5%), $blue: 0
);

$dark2: desaturate(lighten($dark, 5%), 2%);

$dark3: desaturate(lighten($dark2, 15%), 5%);
$dark4: desaturate(lighten($dark3, 15%), 5%);

$light: #b3cce6;
$light2: #9cb3c9;
$light3: #5f8ab4;

$primary: #6a6aeb;
$accent:#68b351;
$warn: #c370a3;

$dark-text: #000000;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: rgba($dark-primary-text, 0.38);
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12);

$light-text: #eef0ff;
$light-primary-text: $light-text;
$light-accent-text: rgba($light-primary-text, 0.7);
$light-disabled-text: rgba($light-primary-text, 0.5);
$light-dividers: rgba($light-primary-text, 0.12);
$light-focused: rgba($light-primary-text, 0.12);

$light-background:    #fafafa;
$light-bg-darker-5:   darken($light-background, 5%);
$light-bg-darker-10:  darken($light-background, 10%);
$light-bg-darker-20:  darken($light-background, 20%);
$light-bg-darker-30:  darken($light-background, 30%);
$light-bg-lighter-5:  lighten($light-background, 5%);
$dark-bg-tooltip:     lighten($dark, 20%);
$dark-bg-alpha-4:     rgba($dark, 0.04);
$dark-bg-alpha-12:    rgba($dark, 0.12);

$dark-background:     $dark;
$dark-bg-lighter-5:   lighten($dark-background, 5%);
$dark-bg-lighter-10:  lighten($dark-background, 10%);
$dark-bg-lighter-20:  lighten($dark-background, 20%);
$dark-bg-lighter-30:  lighten($dark-background, 30%);
$light-bg-alpha-4:    rgba(#fafafa, 0.04);
$light-bg-alpha-12:   rgba(#fafafa, 0.12);

$content-width: 64rem;

$default-font: 'Eina';

.container-margin {
  margin: 3rem 0 5rem;
}

.left-content {
  display: grid;
  grid-template-columns: 5fr 2fr;
  gap: 2rem;

  @media (max-width: $content-width) {
    & {
      grid-template-columns: 1fr;
    }
  }
}

.page-title {
  color: $light-text;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 110%;
  margin-top: .5rem;
  margin-bottom: 1rem;
}

.outline-wrap {
  border: 3px solid $dark2;
  border-radius: 5px;
  min-height: 5rem;

  @media (max-width: $content-width) {
    margin: 0 1.5rem;
  }
}

.page-content {
  width: 100%;
  max-width: $content-width;
  justify-self: center;
  box-sizing: border-box;
  margin: 3rem auto;
}

.app-hero {
  background: $dark2;

  .hero-inner {
    width: 100%;
    max-width: $content-width;
    margin: 0 auto;
    display: grid;

    .hero-content {
      @extend .pad-when-full;
      padding: 3rem 0;
      display: grid;
      justify-content: start;
      gap: 1rem;
    }

    .hero-bottom {
      @extend .pad-when-full;
      display: grid;
      grid-template-columns: auto auto;
      padding-bottom: 1.5rem;

      @media (max-width: $content-width) {
        justify-content: center;
      }

      .hero-bottom-left,
      .hero-bottom-right {
        display: grid;
      }

      .hero-bottom-left {
        justify-content: start;
      }

      .hero-bottom-right {
        justify-content: end;
      }
    }

    h1 {
      font-size: 2.5rem;
      font-weight: 600;
      color: $light-text;
    }
  }
}

.no-posts {
  text-align: center;
  padding: 2rem 1rem;
  font-size: 1rem;
  color: $dark4;
}

.pad-when-full {

  @media (max-width: $content-width) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.dialog {
  display: grid;
  text-align: center;

  h1 {
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 1.2rem;
    color: $dark4;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
  }

  .desc {
    font-size: 1rem;
  }

  button {
    margin-top: 2rem;
  }
}
