<nav>
  <div class="content">

    <div class="left">
      <span>
        <a [routerLink]="['/']">
          <img src="assets/graphics/logo.svg" id="logo">
        </a>
      </span>
    </div>

    <div class="right">

      <span
        [matMenuTriggerFor]="userMenu"
        *ngIf="auth.$user | async as authUser; else signInButton">

        <img
          class="avatar"
          [src]="authUser.photoURL"
          onerror="this.src='assets/graphics/empty.png'"
          mat-card-avatar>

        <mat-menu
          xPosition="before"
          #userMenu="matMenu">
          <button mat-menu-item
            class="user-menu-item"
            (click)="userProfile(authUser.uid)"
          >
            {{authUser.displayName || authUser.email}}
            <ion-icon name="person-circle-outline"></ion-icon>
          </button>
          <button mat-menu-item
            class="warn user-menu-item"
            (click)="auth.signOut()">
            Sign Out
            <ion-icon name="close-circle-outline"></ion-icon>
          </button>
        </mat-menu>
      </span>

      <ng-template #signInButton>
        <button
          *ngIf="auth.loaded; else loader"
          (click)="auth.dialog.open({
            desc: 'You can sign in with you Github account'
          })"
          mat-raised-button
          color="primary">Sign In</button>

          <ng-template #loader>
            <div class="loader">
              <img class="avatar load" src="assets/graphics/empty.png" />
            </div>
          </ng-template>
      </ng-template>
    </div>
  </div>
</nav>
