<nav>
  <div class="content">

    <div class="left">
      <a [routerLink]="['/']">
        <img src="assets/graphics/logo.svg" id="logo">
      </a>
    </div>

    <div class="right">

      <span
        [matMenuTriggerFor]="userMenu"
        *ngIf="auth.$user | async as user; else signInButton">


        <img
          class="avatar"
          [src]="user.photoURL"
          [alt]="user.displayName"
          mat-card-avatar>

        <mat-menu #userMenu="matMenu">
          <button mat-menu-item>{{user.displayName}}</button>
          <button mat-menu-item (click)="auth.signOut()">Sign Out</button>
        </mat-menu>
      </span>

      <ng-template #signInButton>
        <button
          (click)="showSignInDialog()"
          mat-raised-button
          color="primary">Sign In</button>
      </ng-template>
    </div>
  </div>
</nav>
