@import '../../../variables.scss';

nav {
  background: $dark2;
  display: grid;
  height: 3.5rem;
  justify-content: max-content;
  justify-content: center;

  .content {
    max-width: $content-width;
    display: grid;
    align-content: center;
    grid-auto-flow: column;
    box-sizing: border-box;
    width: calc(100vw - 4rem);

    .left, .right {
      display: grid;
      align-content: center;
    }

    .left {
    }

    .right {
      justify-content: end;

      .avatar {
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
        cursor: pointer;
        background: #ffffff88;
      }
    }
  }

  a {
    display: grid;
    align-content: center;
    opacity: .8;
    transition: .3s;

    #logo {
      height: 2rem;
    }

    &:hover {
      opacity: 1;
    }
  }
}
