<nav>
  <div class="content">

    <div class="left">
      <span>
        <a [routerLink]="['/']">
          <img src="assets/graphics/logo.svg" id="logo">
        </a>
      </span>
    </div>

    <div class="right">

      <span
        [matMenuTriggerFor]="userMenu"
        *ngIf="auth.$user | async as user; else signInButton">

        <img
          class="avatar"
          [src]="user.photoURL"
          onerror="this.src='assets/graphics/empty.png'"
          mat-card-avatar>

        <mat-menu #userMenu="matMenu">
          <button mat-menu-item
            [routerLink]="['users', user.uid]"
          >{{user.displayName}}</button>
          <button mat-menu-item (click)="auth.signOut()">Sign Out</button>
        </mat-menu>
      </span>

      <ng-template #signInButton>
        <button
          *ngIf="auth.loaded"
          (click)="auth.dialog.open({
            desc: 'You can sign in with you Github account'
          })"
          mat-raised-button
          color="primary">Sign In</button>
      </ng-template>
    </div>
  </div>
</nav>
