@import '../../../../variables.scss';

.wrap {
  .hero {
    @extend .app-hero;

    .hero-content {
      grid-template-columns: auto auto;
      align-items: center;

      @media (max-width: $content-width) {
        grid-auto-flow: row;
        grid-template-columns: none;
        grid-template-rows: auto auto;
        justify-content: stretch!important;

        .user-info {
          margin-top: 1rem;
          justify-items: center;
          display: grid;
        }
      }

      .profile-picture {
        justify-self: center;
        display: grid;
        justify-content: center;

        img {
          background: #ffffff11;
          width: 8rem;
          height: 8rem;
          border-radius: 50%;
          padding: .5rem;
        }
      }

      .username {
        font-size: 1.5rem;
      }
    }

    .hero-bottom {
      justify-items: start;
    }
  }

  .content {
    @extend .left-content;
    @extend .page-content;

    .main-content {
      @extend .outline-wrap;
    }

    .no-activity {
      @extend .no-posts;
    }
  }
}
