<div class="wrap">
  <div *ngIf="$user | async as user">
    <div class="hero">
      <div class="hero-inner">
        <div class="hero-content">
          <div class="profile-picture">
            <img
              [src]="user.photoURL"
              alt="" onerror="this.src='assets/graphics/empty.png'">
          </div>
          <div class="user-info">
            <h1>
              {{user.displayName}}
              <a
                href="https://github.com/settings/profile#user_profile_name"
                target="__blank"
                *ngIf="(auth.$uid | async) === user.uid && !user.displayName">
                Add Your Name
                <ion-icon name="open-outline"></ion-icon>
              </a>
            </h1>

            <div class="username">
              @{{user.githubUser?.login}}
            </div>
          </div>
        </div>

        <div class="hero-bottom">
          <button
            *ngIf="(auth.$uid | async) !== user.uid"
            mat-raised-button
            color="primary">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
            Follow
          </button>

          <a
            href="https://github.com/settings/profile"
            target="__blank"
            *ngIf="(auth.$uid | async) === user.uid"
            color="primary"
            mat-raised-button>
            <ion-icon name="create-outline"></ion-icon>
            Edit Profile
          </a>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="main-content">
        <div class="no-activity">
          [ No Activity ]
        </div>
      </div>
      <div class="side-bar"></div>
    </div>
  </div>
</div>
